<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equi="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    <h1>这是首页内容</h1>
    <p><%=res.id%></p>
    <p><%=res.name%></p>

    <img src="/public/img/img.jpg" alt="/public/img/img.jpg">

    <ul>
        <%for(var i=0;i< lists.length;i++){%>
        <li><%=lists[i]%></li>
        <%}%>
    </ul>

    <script src="/public/js/main.js"></script>
</body>
</html>